<li>
    {{name}}
    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        Devour it!
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Delete It</button>
</li>